aiomysql==0.0.19
Jinja2==2.10.1
Whoosh==2.7.4
jieba==0.39
pytest_aiohttp==0.3.0
aiohttp==3.7.4
Markdown==3.1
aiohttp_session==2.5.1
aiohttp_jinja2==1.1.0
aioredis==1.1.0
feedgen==0.7.0
aiocache==0.10.0
pygments==2.3.1
pymdown-extensions==6.0