  /* Base */
  .l-timeline {
    background: #fff;
    font-size: 16px;
    padding:20px;
    color:#000;
    border: #c1c1c1 solid 1px;
 }
  .l-timeline p {
    font-weight: 300;
  }
  .l-timeline strong {
    font-weight: 600;
  }
  .l-timeline h4 {
    /* font-family: 'Saira', sans-serif; */
    letter-spacing: 1.5px;
    color: white;
    font-weight: 400;
    font-size: 2.4em;
  }
  .l-timeline .content {
    text-align: center;
  }
  /* Timeline */
  .l-timeline .timeline {
    border-left: 4px solid #1E87F0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background:#efefef;
    color: rgba(255, 255, 255, 0.8);
    /* font-family: 'Chivo', sans-serif; */
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    list-style: none;
    text-align: left;
    font-weight: 100;

    margin: auto 10px auto 140px;
    padding: 50px;
    max-width: 70%;
  }
  .l-timeline .timeline h1 {
    /* font-family: 'Saira', sans-serif; */
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
  }
  .l-timeline .timeline h2,
  .l-timeline .timeline h3 {
    /* font-family: 'Saira', sans-serif; */
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
    color:#000
  }
  .l-timeline .timeline .event {
    border-bottom: 1px dashed #000;
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
    color:#666
  }
  .l-timeline .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  .l-timeline .timeline .event:before,
  .l-timeline .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  .l-timeline .timeline .event:before {
    left: -217.5px;
    color:#666;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 1.1em;
    min-width: 120px;
    /* font-family: 'Saira', sans-serif; */
  }
  .l-timeline .timeline .event:after {
    box-shadow: 0 0 0 4px #1E87F0;
    left: -57.85px;
    background: #fff;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
  }
  
  @media (max-width: 960px) {

    .l-timeline {
      background: #fff;
      font-size: 12px;
      padding:5px;
      color:#000;
      height:100%
    }

    .l-timeline hr {
      margin: 5px 0
    }

    .l-timeline .timeline {
      margin: auto 3px auto 60px;
      padding: 10px;
      max-width: 90%;
    }

    .l-timeline .timeline .event:before {
      left: -141.0px;
      text-align: right;
      font-size:9px;
      color:#000
    }

    .l-timeline .timeline .event:after {
      left: -17.85px;
      border-radius: 50%;
      height: 11px;
      width: 11px;
      top: 5px;
  }

  }