<footer class="l-dark uk-visible@l" uk-scrollspy="cls:uk-animation-fade;delay:10;repeat:true">
    <div class="uk-container uk-margin-auto uk-margin-small-right uk-margin-small-left">
        <div class="uk-grid">
            <div class="uk-width-1-3@m uk-width-1-1@s uk-row-first">
                <h3>L-{{ None|fmtLabel("logo") }}</h3>
                <p>{{ None|fmtLabel("default_meta_desctiption") }}</p>
            </div>
            <div class="uk-width-1-4@m uk-width-1-1@s">
                <h3>{{ None|fmtLabel("footer_pages") }}</h3>
                <ul class="uk-list">
                    <li class="uk-margin-small-bottom l-footer-li">
                        <a href="{{ url('Index') }}">{{ None|fmtLabel("home_page") }}</a>
                    </li>
                    <li class="uk-margin-small-bottom l-footer-li">
                        <a href="{{ url('archive') }}">{{ None|fmtLabel("archive_label") }}</a>
                    </li>
                    <li class="uk-margin-small-bottom l-footer-li">
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
            <div class="uk-width-1-4@m uk-width-1-1@s">
                <h3>{{ None|fmtLabel("footer_contactme") }}</h3>
                <ul class="uk-list">
                    <!-- <li>
                        <ul class="uk-flex-inline uk-padding-remove l-tel">
                            <li class="uk-margin-right l-footer-li2">
                                <a href="">+021 xxxxxxxx</a>
                            </li>
                            <li class="uk-margin-right l-footer-li2">
                                <a href="">+021 xxxxxxxx</a>
                            </li>
                        </ul>
                        <div class="uk-grid uk-grid-match">
                            <div class="uk-width-1-1"></div>
                        </div>
                    </li> -->
                    <li class="l-mail">
                        <a href="mailto:l@scetia.com">l@scetia.com</a>
                    </li>
                    <li>
                        <ul class="uk-flex-inline uk-padding-remove l-social">
                            <li>
                                <a href="mailto:l@scetia.com" class="uk-icon" uk-icon="mail"></a>
                            </li>
                            <li>
                                <a href="{{ None|fmtLabel('project_git_address') }}" target="blank_" class="uk-icon" uk-icon="github"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="uk-visible@m l-footer-deliver">
        <div class="uk-grid">
            <div class="uk-width-1-1@s uk-width-1-2@m l-copyright uk-row-first">
                <span>Copyright © 2018 L-{{ None|fmtLabel("logo") }}. Powered by Uikit</span>
                <span uk-icon="icon: uikit; ratio: 0.9"></span>
            </div>
            <div class="uk-width-1-1@s uk-width-1-2@m">
                <ul class="uk-list">
                    <li class="uk-text-right">
                        <a href="#" class="uk-margin-right">待加入站长统计</a>
                        <a href="#" class="uk-margin-right">待备案</a>
                        <a href="#">sitemap</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<footer class="l-dark uk-hidden@l" uk-scrollspy="cls:uk-animation-fade;delay:10;repeat:true">
    <div class="uk-text-center">Copyright © 2018 L-{{ None|fmtLabel("logo") }}. <span uk-icon="icon: uikit; ratio: 0.7">Powered by Uikit </span></div>
    <hr class="uk-margin-remove">
    <div class="uk-text-center">
        <a href="#" class="uk-margin-right">待加入站长统计</a>
        <a href="#" class="uk-margin-right">待备案</a>
        <a href="#">sitemap</a>
    </div>
</footer>
