<div class="uk-box-shadow-medium l-something">
    <div class="l-placeholder">
        <h3 class="uk-heading-divider"><span class="uk-margin-small-right" uk-icon="icon: album"></span><span>{{ None|fmtLabel("something") }}</span></h3>
        <div class="uk-flex uk-flex-middle uk-flex-center uk-text-center">
           <div class="uk-width-1-3 uk-animation-toggle"><a href=""><img class="uk-animation-scale-down" src="/static/images/timeline.png" alt="timeline"></a></div>
           <div class="uk-width-1-3 uk-animation-toggle"><a href=""><img class="uk-animation-scale-down" src="/static/images/github.png" alt="github"></a></div>
           <div class="uk-width-1-3 uk-animation-toggle"><a href=""><img class="uk-animation-scale-down" src="/static/images/rss.png" alt="rss"></a></div>
        </div>
    </div>
</div>