<div class="uk-box-shadow-medium l-tags">
    <div class="l-placeholder">
        <h3 class="uk-heading-divider"><span class="uk-margin-small-right" uk-icon="icon: tag"></span><span>{{ None|fmtLabel("tag") }}</span></h3>
        <div>
            {% for tag in tags %}
            <a href="{{ url ('tag', tagId=tag.id) }}" class="uk-badge {{ 'l-tag' if not tag.current else 'l-tag-select' }}"
                uk-tooltip="title:{{ tag.tag_name|fmtLabel('blogCountInTag', tag.bct) }};pos:bottom">{{ tag.tag_name }}</a>
            {% endfor %}
        </div>
    </div>
</div>