{% extends "base.html" %}
{% import "_marcos.html" as mcs %}

{% block title %}{{ None|fmtLabel('about_title') }}{% endblock %}

{% block description %}{{ None|fmtLabel('about_discrib') }}{% endblock %}
{% block keywords %}{{ None|fmtLabel('about_keywords') }}{% endblock %}

{% block content %}
<div class="uk-section uk-section-small l-background-color">
    <div class="uk-container">
        <div class="uk-grid uk-margin-remove-left">
            <div class="uk-width-3-4@l uk-width-1-1@m uk-section uk-padding-remove">
                {{ mcs.breadcrumb(url('Index'), None|fmtLabel("home_page"), None|fmtLabel('about_menu_href')) }}
                <div class="uk-box-shadow uk-box-shadow-large l-about">
                    <dl class="uk-description-list uk-description-list-divider">
                        <dt><h4>关于博客</h4></dt>
                        <dd><span class="uk-badge">1</span>l-blog是一个各人博客, 用来分享生活, 工作, 学习中的一些值得留意的东西</dd>
                        <dd><span class="uk-badge">2</span>l-blog的诞生源自于python的学习过程, 原本的想法只是将所学之物付诸实践, 没想到最后形成了这个blog</dd>
                        <dd><span class="uk-badge">3</span>l-blog基于协程, 使用 aiohttp + uikit3 搭建, 源码在博主 Github 中, 目前部署在阿里云 ECS</dd>
                        <dd><span class="uk-badge">4</span>目前博客并不完善, 功能还可能有调整</dd>
                        <dd><span class="uk-badge">5</span>如使用本博客源码作为自己的项目支持的同学请在项目上线后给一个说明, 指向我的 Github 博客项目的地址 https://github.com/larssonsun/l-blog, 谢谢</dd>
                        <dd><span class="uk-badge">6</span><b>Bruce Eckel: "Life is short, you need Python"</b></dd>
                        <dt><h4>关于作者</h4></dt>
                        <dd><span class="uk-badge">1</span>本人从事软件开发一线工作将近14年, 还是第一次为自己做一个项目. 接触python 4个月(2018-9-25). </dd>
                        <dd><span class="uk-badge">2</span>B/S后端开发能力: c#, asp.net(webform, mvc, webapi, soap webservice, wcf), silverlight spa, python, asp</dd>
                        <dd><span class="uk-badge">3</span>B/S前端开发能力: uikit框架, bootstrap框架, jquery库, javascript, css3常规语法, html常规语法</dd>
                        <dd><span class="uk-badge">4</span>C/S开发能力: c# winform, vb</dd>
                        <dd><span class="uk-badge">5</span>数据库: 常年使用mssql, 熟悉mysql, 了解sqllite, postgresql</dd>
                        <dd><span class="uk-badge">6</span>联系方式: l@scetia.com</dd>
                        <dd><span class="uk-badge">7</span>本博客github: https://github.com/larssonsun</dd>
                        <dt><h4>功能介绍</h4></dt>
                        <dd>没啥亮点..</dd>
                        <dt><h4>技术支撑</h4></dt>
                        <dd><span class="uk-badge">1</span>前端uikit3 rc16 + jquery 响应式布局; 图标uikit自带</dd>
                        <dd><span class="uk-badge">2</span>后端python3.7, aiohttp3.4.4, aiocache==0.10.0 详见requirements.txt </dd>
                        <dd><span class="uk-badge">3</span>后端数据库mysql, userSession及缓存使用redis</dd>
                        <dd><span class="uk-badge">4</span>部署在linux系统中(ubuntu_18_0402 server), 前端服务器nginx, 后端服务器supervisor, web框架aiohttp</dd>
                        <dd><span class="uk-badge">5</span>aiosmtplib 发送邮件</dd>
                        <dd><span class="uk-badge">6</span>Whoosh + jieba 全文索引</dd>
                        <dd><span class="uk-badge">7</span>markdown + pygments 文档美化及代码高亮</dd>
                        <dd><span class="uk-badge">8</span>aioredis + aiocache 缓存</dd>
                        <dd><span class="uk-badge">9</span>其他依赖查看源码</dd>
                    </dl>
                </div>
            </div>
            <div class="uk-width-1-4@l uk-visible@l l-rightSideBar">
                {% include "_tagsform.html" %}
                {% include "_catelogform.html" %}
                {% include "_friendlyConn.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}