<!DOCTYPE html>
<html lang="zh-CN" class="uk-background-fixed uk-background-image@s">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ None|fmtLabel("default_title") }}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url('static', filename='images/favicon.png') }}" type="image/x-icon">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="baidu-site-verification" content="82BztrJTOP">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/css/uikit.min.css" />
    <link rel="stylesheet" href="/static/css/main.css">
    {% block head_css %}
    {% endblock %}
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.17/js/uikit-icons.min.js"></script>
    <!--jQuery JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/main.js"></script>
    {% if app.l_data.admin == 1 %}
    <script src="/static/js/admin.js"></script>
    {% endif %}
    {% if app.site_status.currMenuItem == "blogdetail" %}
    <script src="/static/js/blogdetail.js"></script>
    {% endif %}
    {% if app.site_status.currMenuItem == "about" %}
    <script src="/static/js/about.js"></script>
    {% endif %}
    {% block head_js %}
    {% endblock %}
</head>
<body>
    {% set curMenuItm = app.site_status.currMenuItem.lower() if app.site_status.currMenuItem else "" %}
    {% block base_body %}
    <div class="uk-offcanvas-content">
        <div uk-sticky="show-on-up: true; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; 
                cls-active: uk-navbar-sticky; bottom: #scrollup-dropdown" class="uk-sticky">
            <nav class="uk-navbar-container uk-box-shadow-large">
                <div class="uk-container uk-container-expand l-navbar-container">
                    <div uk-navbar="offset:0" class="uk-navbar">
                        <div class="uk-navbar-left">
                            <a class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1" href="">
                                <img class="l-logo" src="/static/images/favicon.png">
                            </a>
                            <span>{{None|fmtLabel("logo")}}</span>
                        </div>
                        <div class="uk-navbar-right uk-visible@m content">
                            <ul class="uk-navbar-nav">
                                <li class="{{ 'uk-active l-active' if curMenuItm=='index' else '' }}">
                                    <a class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1" href="{{ url('Index') }}">
                                        <span uk-icon="icon: home; ratio: 0.7" class="uk-margin-small-right"></span>
                                        <span class="uk-text-middle">{{ None|fmtLabel("home_page") }}</span>
                                    </a>
                                </li>
                                <li class="{{ 'uk-active l-active' if curMenuItm=='archive' else '' }}">
                                    <a class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1" href="{{ url('archive') }}">
                                        <span uk-icon="icon: table; ratio: 0.7" class="uk-margin-small-right"></span>
                                        <span class="uk-text-middle">{{ None|fmtLabel("archive_menu_href") }}</span>
                                    </a>
                                </li>
                                <li class="{{ 'uk-active l-active' if curMenuItm=='about' else '' }}">
                                    <a class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1" href="{{ url('about') }}">
                                        <span uk-icon="icon: info; ratio: 0.7" class="uk-margin-small-right"></span>
                                        <span class="uk-text-middle">{{ None|fmtLabel("about_menu_href") }}</span>
                                    </a>
                                </li>
                                {% if app.l_data %}
                                <li>
                                    <div class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1 l-context-search">
                                        <form class="fullSiteSearch uk-search uk-search-default" method="post" action="{{ url('full-size-search') }}">
                                            <a class="fullSiteSearchBttn uk-search-icon-flip" href="" uk-search-icon></a>
                                            <input class="fullSiteSearchIpt uk-search-input uk-form-width-medium" name="search" type="search" placeholder="{{ None|fmtLabel('search_menu_href') }}">
                                        </form>
                                    </div>
                                </li>
                                {% endif %}
                            </ul>
                            {% set _userInfoSlideCount = "_console" %}
                            <ul class="uk-navbar-nav">
                                {% if app.l_data %}
                                {% include "_userInfoSlide.html" %}
                                {% else %}
                                <li>
                                    <a href="#loginModel" class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1 l-menu-login" uk-toggle>
                                        <span class="uk-text-middle uk-border-rounded">{{ None|fmtLabel("login_menu_href") }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#registeModel" class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1" uk-toggle>
                                        <span class="uk-text-middle">{{ None|fmtLabel("registe_menu_href") }}</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="uk-navbar-right uk-flex-right uk-hidden@m l-mobi-uis">
                            <span class="l-mobi-menu" uk-icon="icon: menu; ratio: 1"></span>
                            <div class="l-dropdown-mobi" uk-dropdown="mode: click; animation: uk-animation-slide-top-small; duration:100">
                                <ul class="uk-nav uk-dropdown-nav">
                                    {% if app.l_data %}
                                    {% include "_userInfoSlide.html" %}
                                    {% endif %}
                                    <li>
                                        <div class="uk-heading-line uk-text-center"><span>页面</span></div>
                                        <div class="uk-column-1-3 uk-column-divider l-mobi-column">
                                            <p><a href="{{ url('Index') }}">{{ None|fmtLabel("home_page") }}</a></p>
                                            <p><a href="{{ url('archive') }}">{{ None|fmtLabel("archive_menu_href") }}</a></p>
                                            <p><a href="{{ url('about') }}">{{ None|fmtLabel("about_menu_href") }}</a></p>
                                        </div>
                                        <div class="uk-column-1-1 uk-column-divider l-mobi-column">
                                            <p><a href="{{ url('timeline') }}">{{ None|fmtLabel("timeline_label") }}</a></p>
                                        </div>
                                    </li>
                                    {% if app.l_data %}
                                    <li>
                                        <div class="uk-heading-line uk-text-center"><span>全文搜索</span></div>
                                        <div>
                                            <form class="fullSiteSearch uk-search uk-search-default" method="post" action="{{ url('full-size-search') }}">
                                                <a class="fullSiteSearchBttn uk-search-icon-flip" href="" uk-search-icon></a>
                                                <input class="fullSiteSearchIpt uk-search-input" name="search" type="search" placeholder="{{ None|fmtLabel('search_menu_href') }}">
                                            </form>
                                        </div>
                                    </li>
                                    {% if app.l_data.admin == 1 %}
                                    <li class="adminPad uk-active l-mobi-admin">
                                        <div class="uk-heading-line uk-text-center"><span>管理员功能</span></div>
                                        <div class="uk-column-1-3 uk-column-divider l-mobi-column">
                                            <p><a name="reset-index" url-send-resetindex="{{ url('admin-resetindex') }}" href="">重建blog索引</a></p>
                                            <p><a name="reset-blog-cache" url-send-resetblogcache="{{ url('admin-resetblogcache') }}" href="">重建blog缓存</a></p>
                                            <p><a name="reset-feeds" url-send-resetfeeds="{{ url('admin-resetfeeds') }}" href="">生成rss</a></p>
                                            <p><a name="reset-sitemap" url-send-resetsitemap="{{ url('admin-resetsitemap') }}" href="">生成sitemap</a></p>
                                            <p><a name="reset-robots" url-send-resetrobots="{{ url('admin-resetrobots') }}" href="">生成robots.txt</a></p>
                                        <div>
                                    </li>
                                    {% endif %}
                                    <li class="uk-nav-divider uk-nav-header"></li>
                                    <li><a href="#reset-password-sections{{ _userInfoSlideCount }}" uk-toggle>{{ None|fmtLabel("resetpwd_title") }}</a></li>
                                    <li class="uk-nav-divider uk-nav-header"></li>
                                    <li class="uk-active"><a href="{{ url('logout') }}">{{None|fmtLabel("right_slide_bar_logout") }}</a></li>
                                    {% set _userInfoSlideCount = "_mobile" %}
                                    {% else %}
                                    <li class="uk-nav-divider uk-nav-header"></li>
                                    <li class="uk-active">
                                        <a href="#loginModel" uk-toggle>{{ None|fmtLabel("login_menu_href") }}</a>
                                    </li>
                                    <li class="uk-active">
                                        <a href="#registeModel" uk-toggle>{{ None|fmtLabel("registe_menu_href") }}</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
    {% include "_footer.html" %}
    {% endblock %}
    {% include "_login.html" %}
    {% include "_register.html" %}
    
    {% block bottom_js %}
    {% endblock %}
    {% endblock %}
</body>
</html>