{% extends "base.html" %}
{% import "_marcos.html" as mcs %}

{% block title %}{{ None|fmtLabel('timeline_title') }}{% endblock %}

{% block description %}{{ None|fmtLabel('timeline_discrib') }}{% endblock %}
{% block keywords %}{{ None|fmtLabel('timeline_keywords') }}{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="/static/css/timeline.css">
{% endblock %}
{% block content %}
<div class="uk-section uk-section-small l-background-color">
  <div class="uk-container">
    <div class="uk-grid uk-margin-remove-left">
      <div class="uk-width-3-4@l uk-width-1-1@m uk-section uk-padding-remove">
        {{ mcs.breadcrumb(url('Index'), None|fmtLabel("home_page"), None|fmtLabel('timeline_label')) }}
        <div class="l-timeline">
          <div class="content uk-text-left">
            <div><span class="uk-margin-small-right uk-margin-small-top" uk-icon="icon: file-edit; ratio: 1"></span>{{
              None|fmtLabel('timeline_label') }}</div>
            <hr>
            <ul class="timeline">
              <li class="event" data-date="2018-9-25">
                <div class="uk-flex">
                  <h3 class="uk-width-5-6">Dinosaurs Roamed the Earth</h3>
                  <span class="uk-width-1-6" class="">
                      <span class="uk-margin-remove" uk-icon="icon: star; ratio: 0.7"></span>
                      <span class="uk-margin-remove" uk-icon="icon: star; ratio: 0.7"></span>
                      <span class="uk-margin-remove" uk-icon="icon: star; ratio: 0.7"></span>
                  </span>
                </div>
                <p>RAWWWWWWRRR.</p>
              </li>
              <li class="event" data-date="2018-9-10">
                <div class="uk-flex">
                  <h3 class="uk-width-5-6">Dinosaurs Roamed the Earth</h3>
                  <span class="uk-width-1-6" class="">
                      <span class="uk-margin-remove" uk-icon="icon: star; ratio: 0.7"></span>
                      <span class="uk-margin-remove" uk-icon="icon: star; ratio: 0.7"></span>
                      <span class="uk-margin-remove" uk-icon="icon: star; ratio: 0.7"></span>
                  </span>
                </div>
                <p>RAWWWWWWRRR.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="uk-width-1-4@l uk-visible@l l-rightSideBar">
        {% include "_tagsform.html" %}
        {% include "_catelogform.html" %}
        {% include "_friendlyConn.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}