<div class="uk-box-shadow-medium l-friendly">
    <div class="l-placeholder">
        <h3 class="uk-heading-divider"><span class="uk-margin-small-right" uk-icon="icon: link"></span><span>{{ None|fmtLabel("frientlyConn") }}</span></h3>
        <div>
            {% for friCnn in friCnns %}
            <span class="l-friendly-conn">
                <a class="uk-margin-small-right" href="{{ friCnn.url }}" uk-tooltip="title:{{ friCnn.url }};pos:bottom" target="_blank">{{ friCnn.name }}</a>
            </span>
            {% endfor %}
        </div>
    </div>
</div>