{% extends "base.html" %}
{% import "_marcos.html" as mcs %}

{% block title %}{{ None|fmtLabel('about_title') }}{% endblock %}

{% block description %}{{ None|fmtLabel('about_discrib') }}{% endblock %}
{% block keywords %}{{ None|fmtLabel('about_keywords') }}{% endblock %}
{% block head_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css" />
{% endblock %}
{% block head_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
<script src="/static/js/setblogdetail.js"></script>
{% endblock %}
{% block content %}
<div class="uk-section uk-section-small l-background-color">
    <div class="uk-container">
        <div class="uk-grid uk-margin-remove-left">
            <div class="uk-width-1-1@m uk-width-1-1@s uk-section uk-padding-remove">
                {{ mcs.breadcrumb(url('Index'), None|fmtLabel("home_page"), None|fmtLabel(app.site_status.last2path) +
                " - " + None|fmtLabel(app.site_status.lastpath)) }}
                <div class="uk-box-shadow uk-box-shadow-large l-bloginfo">
                    <form id="setblogdetail">
                        <fieldset class="uk-fieldset">
                            <div class="uk-margin">
                                <label><input class="uk-radio" type="radio" name="source_from" {% if
                                        blogdraft.source_from=="original" %} checked {% endif %}>原创</label>
                                <label><input class="uk-radio" type="radio" name="source_from" {% if
                                        blogdraft.source_from=="transfer" %} checked {% endif %}>转载</label>
                            </div>
                            <div class="uk-margin"><input class="uk-input uk-form-small" name="name" placeholder="标题 (如:Python 切片)"
                                    value="{{ blogdraft.name }}"></div>
                            <div class="uk-margin"><input class="uk-input uk-form-small" name="name_en" placeholder="索引标题 (如:python-slice)"
                                    value="{{ blogdraft.name_en }}"></div>
                            <div class="uk-margin uk-flex ">
                                <input class="uk-input uk-form-small" name="title_image_filename" value="{{ blogdraft.title_image_filename }}"
                                    placeholder="主题图文件名 (如:python, 不带后缀)"><input class="uk-input uk-form-small" name="title_image_bgcolor"
                                    placeholder="主题图背景色 (缺省:FFFFFF, 不带＃)" value="{{ blogdraft.title_image_bgcolor }}">
                            </div>
                            <div class="uk-margin">
                                <textarea class="uk-textarea" rows="5" name="summary" placeholder="概要 (缺省则为正文前 80个全角字符)">{{ blogdraft.summary }}</textarea>
                            </div>
                            <div class="uk-margin">
                                <textarea name="content" class="uk-textarea" rows="10" name="content" placeholder="正文 (支持markdown)">{{ blogdraft.content }}</textarea>
                            </div>
                            <div class="uk-flex uk-flex-center uk-margin">
                                <div name="catelogform" class="uk-panel uk-panel-scrollable uk-width-1-2@m uk-width-1-1s">
                                    <div class="uk-flex">
                                        <textarea class="uk-textarea" rows="2" catelogid="" placeholder="格式：live|市井|市井杂文，粗如爵蜡。"></textarea>
                                        <button id="setcatelogBttn" url-send-setcatelog="{{ url('admin-setcatelog') }}"
                                            type="button" class="uk-button l-button-tight">新增</button>
                                    </div>
                                    <ul class="uk-list uk-column-1-2@m uk-column-1-1@s" name="catelog">
                                        <li><b>分类</b><a href="" newcatelog class="uk-margin-small-left">+</a></li>
                                        {% for catelog in catelogs %}
                                        <li><label><input class="uk-radio" type="radio" name="catelog" catename="{{ catelog.id }}"
                                                    {% if catelog.id in blogdraft.catelog %} checked {% endif %}>{{
                                                " " + catelog.catelog_name }}</label><a href="" setcatelogid="{{ catelog.id }}"
                                                catelogcontent="{{ catelog.id + '|' + catelog.catelog_name + '|' + catelog.catelog_discrib }}"
                                                class="uk-margin-small-left">E</a><a
                                                href="" delcatelog url-send-deletecatelog="{{ url('admin-deletecatelog', id=catelog.id) }}"
                                                class="uk-margin-small-left">D</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div name="tagform" class="uk-panel uk-panel-scrollable uk-margin-small-left uk-width-1-2@m uk-width-1-1s">
                                    <div class="uk-flex">
                                        <textarea class="uk-textarea" rows="2" tagid="" placeholder="格式：uikit|Uikit|UIkit 是 YOOtheme"></textarea>
                                        <button id="settagBttn" url-send-settag="{{ url('admin-settag') }}" type="button"
                                            class="uk-button uk-padding-small l-button-tight">新增</button>
                                    </div>
                                    <div>
                                        
                                    </div>
                                    <ul class="uk-list uk-column-1-2@m uk-column-1-1@s" name="tags">
                                        <li><b>标签</b><a href="" newtag class="uk-margin-small-left">+</a></li>
                                        {% for tag in tags %}
                                        <li><label><input class="uk-checkbox" type="checkbox" tagname="{{ tag.id }}" {%
                                                    if tag.id in blogdraft.tags %} checked {% endif %}>{{
                                                " " + tag.tag_name }}</label><a href="" settagid="{{ tag.id }}"
                                                tagcontent="{{ tag.id + '|' + tag.tag_name +'|'+ tag.tag_discrib }}"
                                                class="uk-margin-small-left">E</a><a
                                                href="" deltag url-send-deletetag="{{ url('admin-deletetag', id=tag.id) }}"
                                                class="uk-margin-small-left">D</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <div class="uk-flex uk-flex-right">
                                <input type="hidden" name="blogid" value="{{ blogdraft.blogid if blogdraft.blogid else '' }}">
                                <button type="button" class="uk-button uk-margin-small-right l-button" id="setblogdetailBttn"
                                    url-send-blogtmp="{{ url('admin-setblogdetail') }}">保存到草稿</button>
                                <button type="button" class="uk-button uk-margin-small-right l-button" id="loadlastcacheBttn"
                                    url-send-loadlastcache="{{ url('admin-loadlastcache') }}">读取草稿</button>
                                <button type="button" class="uk-button uk-button-primary l-button" id="publicblogdetailBttn"
                                    url-send-publicblog="{{ url('admin-publicblogdetail') }}">{{ "保存" if
                                    blogdraft.blogid else "发布" }}文章</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}